/* éléments de la page */

body
{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

a
{
    text-decoration: none;
}

/* HEADER */

#logo
{    
    margin: auto 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo a
{
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-weight: bold;
    color: #0065FC;
}

#logo a:hover
{
    color: black;
}

header img
{
    width: 15%;
    min-width:100px;
}

ul
{
    list-style: none;
}

header ul a
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-bottom: #F2F2F2 solid;
}

header ul a:hover
{
    color: #0065FC;
    border-bottom: #0065FC solid;
 
}

/* div searchingtool */

.searchingtool h1
{
    font-size: larger;
    font-weight: bolder;
}

aside
{
    background-color: #F2F2F2;
}

.popular
{
    background-color: yellow;
}

.bed
{
    background-color: white;
    border-radius: 5%;
    margin: 5%;
}

.rooms
{
    background-color: white;
    border-radius: 5%;
    margin: 5%;
}

.act
{
    background-color: white;
    border-radius: 5%;
    margin: 5%;
}
#popular img 
{
    max-width: 100%;
    height: auto;
}

#hebergement img 
{
    max-width: 100%;
    height: auto;
}

#activites img
{
    max-width: 100%;
    height: auto;
}

footer
{
    background-color: #F2F2F2;
}

footer ul a
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
}

footer ul a:hover
{
    color: #0065FC; 
}